h1 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: green;
    text-align: center;
    font-family: monospace;
}

h3 {
    color: green;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#img1 {
    display: block;
    margin: 0 auto;
    height: 100px;
}

nav {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: green;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background-text {
    text-align: center;
    color: white;
    background-color: green;
}

.icon img {
    height: 70px;
    width: 70px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 50px;
}

.enderecos {
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-left: 0px;
}

.endereco {
    background-color: green;
    padding: 20px;
    width: 150px;
    text-align: center;
    border-radius: 30px;
}

.endereco a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.endereco a:hover {
    font-weight: bold;
}

#frase_efeito {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.imgs{
    width: 70%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imagens {
    width: 30%;
    margin: 0 auto;
    height: 300px;
    border-radius: 20px;
}
ul li::marker{
    color: green;
}
ol li::marker{
    color: green;
}
ul {
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol {
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
